body
{
	margin: 0;
	width: 100vw;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Segoe UI", sans-serif;
}

#control
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	gap: 20em;
}

#range-reset-control, #pen-eraser-grid-control
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2em;
}

.input-button
{
	border-radius: 100%;
	border-color: black;
	border-width: 0.1em;
	border-style: dashed;
	outline: none;
	background: none;
	height: 3.5em;
	width: 3.5em;
}

#color-picker
{
	border-radius: 100%;
	border-style: none;
	outline-style: none;
	height: 1.5em;
	width: 1.5em;
	background: none;
}

.reset-button 
{
	border-color: black;
	border-width: 0.1em;
	outline-style: none;
	height: 2em;
	width: 5em;
	background: none;
	font-size: 0.8em;
}

#whiteboard
{
	display: block;
	margin: 2.3em auto auto;
	padding: 0;
	border-width: 1px;
	border-style: dashed;
}