body
{
	margin: 0;
}

#control
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2.5em;
}

#pen-eraser-control
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3em;
}

.input-button
{
	border-radius: 100%;
	border-color: black;
	border-width: 0.1em;
	outline: none;
	background: none;
	height: 3.5em;
	width: 3.5em;
}

#color-picker
{
	border-radius: 100%;
	border-style: none;
	outline-style: none;
	height: 1.8em;
	width: 1.8em;
	background: none;
}

.reset-button 
{
	border-color: black;
	border-width: 0.1em;
	outline-style: none;
	font-family: "Open Sans", "Segoe UI", sans-serif;
	font-size: 1em;
	height: 2em;
	width: 5em;
	background: none;
}

#whiteboard
{
	
}